

body {
    background-image: url(images/modern-wallpaper.jpg);
}





.navbar {
    align-content: center;
    min-height: 80px;
    text-align: center;
}

#border  
      {
        border-style: solid;
        border: black;
      }


#navfont 
 {  
    margin-top: 10px;
    margin-left: 20px;
    background-color: rgb(26, 238, 210) ;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300px;
    font-size: 30px;
    color: rgb(15, 66, 66)
    

}

#navfont1 
 {  
    margin-top: 10px; 
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: black;

}

#navfont2
 {   
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: black;

}
#indeximg {
    float: left;
    margin: 10px;
}
p {
    color: white;
    position: relative;
    font-size:18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p1  {
    color: white;
    font-size:20px;
    

}

#footer {
    padding: 10px;
    background-color: rgb(163, 163, 223);
    align-content: center
}
